<!-- Header -->
{include file="public/header" /}
<!-- Header end -->
<body>

    <div id="wrapper">

  <!-- Header -->
				{include file="public/menu" /}
				<!-- Header end -->

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
   		<!-- Header -->
				{include file="public/top" /}
				<!-- Header end -->
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Static Tables</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Tables</a>
                        </li>
                        <li class="active">
                            <strong>Static Tables</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
           
            <div class="row">
               
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>权限列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="table_basic.html#">Config option 1</a>
                                    </li>
                                    <li><a href="table_basic.html#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="弹窗">
                                    <i class="fa fa-plus-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>角 色</th>
                                    <th>权 限</th>
                                    <th>操 作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach name="list" item="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                   <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
                                    <td>{$vo.aname}</td>
                                    <td>{$vo.range_id}</td>
                                   <td><a href="javasrcipt:;" class="edit"><i class="fa fa-pencil-square-o text-navy"></i></a></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="ibox-content ibox-from" style="display:none;">
                        <h2>注意事项：</h2>
                            <p>角色默认权限为空，创建成功后请在权限配置进行分配.</p>
                                <form role="form" id="form">
                                    <div class="form-group"><label>角色名称</label> <input type="email" placeholder="例如：文章专员、客服..." class="form-control" required></div>
                                    
                                    <div class="form-group"><label>角色描述</label> <input type="text" placeholder="说说这角色都能干啥？" class="form-control" name="url"></div>
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
<!-- footer -->
{include file="public/footer" /}
<!-- footer end -->
    <script>
        $(document).ready(function(){
        	$(".edit").on('click',function(){
        		layui.use('layer', function(){
            		layer.open({
            			  type: 1,
            			  title: '创建角色',
            			  shadeClose: true,
            			  shade: 0.8,
            			  //area: ['20%', '400px'],
            			  content: $('.ibox-from'),
            			 
            		}); 
            	  });
        	});
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
