<div class="ibox-content ibox-from">
                         <!--   <h2>
                  成功拉！！！
                            </h2>
                            <p>
                                The jQuery Validation Plugin provides drop-in validation for your existing forms, while making all kinds of customizations to fit your application really easy.
                            </p>

                                <p class="font-bold">Example form with custom validation on each form control</p> --> 
                                <form role="form" id="form">
                                    <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control" required></div>
                                    
                                    <div class="form-group"><label>Url</label> <input type="text" placeholder="Enter email" class="form-control" name="url"></div>
                                    <div class="form-group"><label>Number</label> <input type="text" placeholder="Enter email" class="form-control" name="number"></div>
                                    <div class="form-group"><label>MinLength</label> <input type="text" placeholder="Enter email" class="form-control" name="min"></div>
                  
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                        </div>
