<div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

        </div>
        </div>
    <!-- layui scripts -->
    <script src="http://{$Think.config.PUBLIC}/lib/layui/layui.js"></script>
    <!-- Mainly scripts -->
    <script src="http://{$Think.config.PUBLIC}/js/jquery-2.1.1.js"></script>
    <script src="http://{$Think.config.PUBLIC}/js/bootstrap.min.js"></script>
    <script src="http://{$Think.config.PUBLIC}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="http://{$Think.config.PUBLIC}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Peity -->
    <script src="http://{$Think.config.PUBLIC}/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="http://{$Think.config.PUBLIC}/js/inspinia.js"></script>
    <script src="http://{$Think.config.PUBLIC}/js/plugins/pace/pace.min.js"></script>
    <!-- iCheck -->
    <script src="http://{$Think.config.PUBLIC}/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Peity -->
    <script src="http://{$Think.config.PUBLIC}/js/demo/peity-demo.js"></script>