<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>法梦龙服饰</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="renderer" content="webkit">
<link href="http://{$Think.config.PUBLIC}/lib/layui/css/layui.css" rel="stylesheet">
<link href="http://{$Think.config.PUBLIC}/mall/style/new_products.css" rel="stylesheet">
</head>
<body>

<!-- Top -->
{include file="public/top" /}
<!-- Top end -->

<!-- Side -->
{include file="public/side" /}
<!-- Side end -->

<!-- Header -->
{include file="public/header" /}
<!-- Header end -->
<!--商品详细S-->
<form method="post" action="javasrcipt:;" id="detail_form">
  <aside class="pos area"> <a href="#" target="_blank">特卖商城</a> <i>&gt;</i> <a target="_blank" href="#"> <em class="classification" data-tagid="3005">中老年</em></a> <i>&gt;</i> 中老年男装 <i>&gt;</i> 花花公子男士夹克外套 中老年夹克... </aside>
  <article id="detail" class="area clear">
    <div class="deteilpic l"> <em class="you" style=""></em>
      <figure style="height: 400px;"> <img src="{$info.img_url}" style="display: inline;"> </figure>
      <ul>
        {foreach name="img_data" item="vo"}
        <li class=""> <a href="#"><img src="{$vo.picture}_40x40.jpg" alt="" data-bigimage="{$vo.picture}" width="58px" hight="58px"></a> </li>
        {/foreach}
      </ul>
      <div class="panelC">
        <div class="sc new_shouc"><a href="#"><i></i> 收藏</a></div>
        <div class="fx">
          <p href="#"><i></i> 分享</p>
          <ol>
            <li class=""><a href="#" target="_blank"><i class="weibo"></i>微博</a></li>
            <li class=""><a href="#" target="_blank"><i class="t"></i>腾讯微博</a></li>
            <li class=""><a href="#" target="_blank"><i class="renren"></i>人人网</a></li>
            <li><a href="#" target="_blank"><i class="qzone"></i>QQ空间</a></li>
          </ol>
        </div>
        <div class="jb"><a href="#" target="_blank"><i></i> 举报</a></div>
      </div>
    </div>
    <div class="detailmeta l">
      <div class="clear">         
        <!--商品标题-->
        <h1>{$info.title}</h1>
        <h3>{$info.point}</h3>
      </div>
      <div class="panelA">
        <div class="bg_yel clear">
          <dl class="price">
            <dd class="colspan"> <span class="r"><i class="fontYaHei">90</i>天销量&nbsp;<i class="red fontYaHei js_xl_i">200</i>&nbsp;件</span> <strong class="red js_price_st">￥<i info="{$info.money}">{$info.money}</i></strong> <del class="js_org_price">￥<i info="498.00" style="display: inline;">{$info.counter}</i></del> <i class="icon discount"> </i> </dd>
          </dl>
          <dl class="time js_time_dl" style="">
          </dl>
          <dl class="y js_discount">
            <dt><sub></sub></dt>
            <dd> 22222</dd>
          </dl>
          <dl class="jifen js_jifen" style="">
            <dt><sub></sub></dt>
            <dd>
              <div class="levelbox"> <span class="level level1"><a href="#" target="_blank"><i class="fontArial">Z0</i>返24积分<em>∨</em></a></span>
                <ul>
                  <li class="cur"><a target="_blank" href="#">Z0&nbsp;返 <b>24</b> 积分</a></li>
                  <li><a target="_blank" href="#">Z1&nbsp;返 <b>48</b> 积分</a></li>
                  <li><a target="_blank" href="#">Z2&nbsp;返 <b>72</b> 积分</a></li>
                  <li><a target="_blank" href="#">Z3&nbsp;返 <b>96</b> 积分</a></li>
                  <li><a target="_blank" href="#">Z4&nbsp;返 <b>96</b> 积分</a></li>
                  <li><a target="_blank" href="#">Z5&nbsp;返 <b>96</b> 积分</a></li>
                </ul>
              </div>
              <a target="_blank" href="#">积分可抵订单金额</a> </dd>
          </dl>
          <dl class="nojifen js_nojifen" style="display:none">
            <dt><sub></sub></dt>
            <dd><i>本商品不支持购物返积分</i></dd>
          </dl>
        </div>
        <dl class="address" id="address">
          <dt>运费</dt>
          <dd> 广州&nbsp;&nbsp;至
            <address>
            <i attr-id="110000">全国</i> <em class="down">∨</em>
            </address>
            <em style="display: inline;">免运费</em>
            <p style="display: none;">首件邮费<b class="red fontArial">20.00</b>元；每加一件,邮费增加<b class="red fontArial">20.00</b>元</p>
          </dd>
        </dl>
        <!--<dl class="fuwu">
          <dt>服务</dt>
          <dd>
            <p><i class="icon zhe800jian"></i>本商品由折800买手砍价</p>
            <p><i class="icon i24"></i>支付成功后，24小时内发货</p>
          </dd>
        </dl> -->
        <div class="js_reskubox">
          <dl class="color clear">
            <dt>颜色</dt>
            <dd>
              <ul class="">
                {foreach name="spec" item="vo"}
                  <li prop="prop_1" pid="{$vo.id}" gid="{$vo.goods_id}" class="skuli">
                  {empty name="vo.spec_img"}
                    <a href="javascript:void(0)" title="{$vo.spec_name}" >{$vo.spec_name}</a>
                  {else /} 
                  <a href="javascript:void(0)" title="{$vo.spec_name}" style="background: url({$vo.spec_img}_40x40.jpg) no-repeat center center;" data-vpicture="{$vo.spec_img}"></a>
                  {/empty}
                </li>
                {/foreach}
              </ul>
            </dd>
          </dl>
          <dl class="size clear">
            <dt>尺码</dt>
            <dd>
              <ul>
                {foreach name="sku" item="vo" }
                <li prop="prop_2" fid="{$vo.spec_id}" vid="{$vo.id}" class="skuli"> <a href="javascript:void(0)" title="{$vo.focus_name}">{$vo.focus_name}</a> </li>
                {/foreach}
              </ul>
            </dd>
          </dl>
          <p class="red attention"></p>
          <dl class="numb clear">
            <dt>数量</dt>
            <dd>
              <p> <i class="decrease no-drop"></i>
                <input type="text" value="1" name="count">
                <i class="increase"></i> </p>
              <span class="kucun"> 库存<i class="js_kucun_i" stockcount="{$info.stock}">{$info.stock}</i>件 </span> <span class="red"></span> </dd>
          </dl>
         </div>
        <div class="submit"> <span class="s2">
          <input type="button" value="立即购买" class="gbtn direct_buy_is_bind_mobile">
          </span> <span class="cart">
          <input id="test2" type="button" class="gbtn" value="加入购物车" clkey="Addcart_top">
          </span> </div>
        <div class="panelD"> <span class="bt"> <a rel="nofollow" target="_blank" href="http://help.zhe800.com/detail/104"><i></i> 8天无理由退货</a> </span> <span class="sq"> <a rel="nofollow" target="_blank" href="http://shop.zhe800.com/n/act/yunfeibutieka?utm_content=p_detail_baozhang"><i></i> 退货送8元补贴券</a> </span> <span class="picc"> <i></i> 该商品由折800与中国人保（PICC）联合承保 </span> </div>
      </div>
      <aside class="">
        <hgroup> <span>商家</span>
          <div class="posab"></div>
        </hgroup>
        <h4 class=""> <b><a class="js_utm_params" href="#" utm_content="p_detail_seller_name">Gelos/左珞斯品牌旗舰店</a></b> </h4>
        <ol>
          <li><a class="js_utm_params" target="_blank" href="#" utm_content="p_detail_seller_prestige">
            <label>店铺信誉：</label>
            <em class="leA A22"></em></a></li>
          <li style="display:none;">
            <label>开店时间：</label>
            <em>2016-01-05 09:00:00</em></li>
          <li> <a target="_blank" href="#">
            <label>店铺资质：</label>
            <em class="ps js_common_ps"> 
              <i class="l1"></i><i class="l2"></i>
              <i class="l3"></i> <em class="info">
              <sup></sup>
            <p><i class="l1"></i>折800认证商家</p>
            <p><i class="l2"></i>已缴纳保证金</p>
            <p><i class="l3"></i>优质售后服务</p>
            </em> </em> </a>
          </li>
          <li>
            <label>联系商家：</label>
            <span class="im_icon" data-seller-jid="1534273#0" data-clickkey="p_detail_seller_xinxi_contact_service_up">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2278906920&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2278906920:51" alt="QQ咨询" title="QQ咨询"></a>
            </span> </li>
        </ol>
        <a target="_blank" href="#">
        <dl>
          <dd class="ms">
            <label>描述</label>
            <br>
            <em class="down"> <em class="ps js_common_ps"> 4.7&nbsp;<b>↓</b> <em class="info"> <sup></sup>低于同行业平均&nbsp;4.48% </em> </em> </em> </dd>
          <dd class="fw">
            <label>服务</label>
            <br>
            <em class="down"> <em class="ps js_common_ps"> 4.8&nbsp;<b>↓</b> <em class="info"> <sup></sup>低于同行业平均&nbsp;16.19% </em> </em> </em> </dd>
          <dd class="fh">
            <label>发货</label>
            <br>
            <em class="down"> <em class="ps js_common_ps"> 4.8&nbsp;<b>↓</b> <em class="info"> <sup></sup>低于同行业平均&nbsp;10.95% </em> </em> </em> </dd>
        </dl>
        </a>
        <div class="rk"> <a class="js_utm_params" target="_blank" href="http://store1534273.zhe800.com/" utm_content="p_detail_seller">
          <label>进入店铺</label>
          </a> <a class="button_store" href="javascript:;">
          <label>收藏本店</label>
          </a> </div>
      </aside>
    </div>
  </article>
  <div class="area js_seller_recommend myrecommend_new" style="display: block;">
    <div class="cli page_prev"><i class=""></i></div>
    <ul>
      <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="dianpu" data-zid="ze160108101215058964" data-stat-dealid="3287273" data-stat-sourcetype="2" data-stat-x="1" data-stat-y="6" data-stat-n="6" data-ssid="SS14578426820745660" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/xinkuanyan_3287273?utm_content=shop_product_recommend"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.7415cd5aed569bdb5c63bfd565dbd079.180x180.jpg.webp"></a>
        <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/xinkuanyan_3287273?utm_content=shop_product_recommend">新款羊绒大衣含羊绒61.8%超大毛领羊毛大衣妈妈装羊绒外套毛呢</a></h3>
        <p><span><i>￥</i>149</span>新品上架</p>
      </li>
      <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="dianpu" data-zid="ze160105103957046657" data-stat-dealid="2873625" data-stat-sourcetype="2" data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14578426820762709" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/65yangmao_2873625?utm_content=shop_product_recommend"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.854facc4272039e2610a609da349278b.180x180.jpg.webp"></a>
        <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/65yangmao_2873625?utm_content=shop_product_recommend">【优品汇】羊驼绒大衣外套妈妈装</a></h3>
        <p><span><i>￥</i>145</span>已售376件</p>
      </li>
      <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="dianpu" data-zid="ze151231135804035765" data-stat-dealid="2831331" data-stat-sourcetype="2" data-stat-x="1" data-stat-y="2" data-stat-n="2" data-ssid="SS14578426820772894" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/hanyangron_2831331?utm_content=shop_product_recommend"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.658e729326a2c9d56785809e8c8b6923.180x180.jpg.webp"></a>
        <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/hanyangron_2831331?utm_content=shop_product_recommend">【优品汇】妈妈装羊绒大衣毛呢外套</a></h3>
        <p><span><i>￥</i>134</span>已售326件</p>
      </li>
      <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="dianpu" data-zid="ze160302104055200787" data-stat-dealid="3262865" data-stat-sourcetype="2" data-stat-x="1" data-stat-y="3" data-stat-n="3" data-ssid="SS14578426820785746" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/hanbanchun_3262865?utm_content=shop_product_recommend"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.e1031a7781d8cc992a11575ebb89eb39.180x180.jpg.webp"></a>
        <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/hanbanchun_3262865?utm_content=shop_product_recommend">韩版春季新款男士迷彩外套</a></h3>
        <p><span><i>￥</i>49</span>已售101件</p>
      </li>
      <li class="last" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="dianpu" data-zid="ze160302112839201272" data-stat-dealid="3262985" data-stat-sourcetype="2" data-stat-x="1" data-stat-y="4" data-stat-n="4" data-ssid="SS14578426820789469"><a target="_blank" href="http://out.zhe800.com/ju/deal/chunzhuang_3262985?utm_content=shop_product_recommend"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.31ccb8a67f5e45ba8b2f1ca1dc36367b.180x180.jpg.webp"></a>
        <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/chunzhuang_3262985?utm_content=shop_product_recommend">春款青年男士夹克外套 </a></h3>
        <p><span><i>￥</i>55</span>已售83件</p>
      </li>
    </ul>
    <div class="cli page_next"><i class=""></i></div>
    <div class="more no"><a class="bg" target="_blank" href="http://store1534273.zhe800.com/"><i class="a1" title="扬名商贸服饰特卖店">扬名商贸服饰特卖店</i><span class="more_store">更多店铺商品</span><em class="goto go">GO&nbsp;<i></i></em></a></div>
  </div>
  <article class="area mainwrap" >
    <aside>
      <div class="asidebox">
        <div class="nubB bm">
          <hgroup><span>商家</span></hgroup>
          <p>扬名商贸服饰特卖店</p>
          <ol>
            <li class="l1"><i></i> 折800实力认证商家</li>
          </ol>
          <div class="seller"> <span class="store"><a target="_blank" class="js_utm_params" href="http://store1534273.zhe800.com/" utm_content="p_detail_right_suspension_bar"><em><i></i>&nbsp;进入店铺</em></a></span> <span class="im_icon" data-seller-jid="1534273#0" data-clickkey="p_detail_seller_xinxi_contact_service_under">
            <iframe src="http://{$Think.config.PUBLIC}/mall/images/init.html" frameborder="no" scrolling="no" style="border: none; width: 80px; height: 24px;"></iframe>
            </span> </div>
        </div>
      </div>
      <div id="categorysalesranking" class="nubC clear hidden" style="display: block;">
        <hgroup><span>中老年热门商品</span></hgroup>
        <ul>
          <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_topcategory" data-zid="ze150109130819000001" data-stat-dealid="3147217" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14578407757958929"><a href="http://out.zhe800.com/ju/deal/beilishide_3147217?utm_content=p1_detail" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.3a36a6095064179cc5a9b940e392aad0.180x180.jpg.webp"></a>
            <p><em>新品上架</em><span><i>￥</i>49</span></p>
            <h6><a href="http://out.zhe800.com/ju/deal/beilishide_3147217?utm_content=p1_detail" target="_blank">贝利诗登春秋季中年男士棉衣外套中老年男装休闲立领保暖爸爸装</a></h6>
          </li>
          <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_topcategory" data-zid="ze160303145416210098" data-stat-dealid="3325913" data-stat-sourcetype="zhe" data-stat-x="5" data-stat-y="1" data-stat-n="5" data-ssid="SS14578407757992088"><a href="http://out.zhe800.com/ju/deal/aodengbang_3325913?utm_content=p1_detail" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.fdeec4f9e04ac8c3a13e3b0d7778ad19.180x180.jpg.webp"></a>
            <p><em>新品上架</em><span><i>￥</i>45</span></p>
            <h6><a href="http://out.zhe800.com/ju/deal/aodengbang_3325913?utm_content=p1_detail" target="_blank">奥登邦春季新款条纹大码爸爸装长袖t恤 中年男子圆领长袖针织衫</a></h6>
          </li>
        </ul>
      </div>

      <div id="salesranking" class="nubA clear hidden" style="display: block;">
        <hgroup><span>全站热门商品</span></hgroup>
        <ul>
          <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_topall" data-stat-dealid="3234257" data-zid="ze160222140004155350" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14578407755927370"><a href="http://out.zhe800.com/ju/deal/oulidianya_3234257?utm_content=p2_detail" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.13f8887a1036691f9307b5854d81891c.180x180.jpg.webp"></a>
            <p><em>新品上架</em><span><i>￥</i>89</span></p>
            <h6><a href="http://out.zhe800.com/ju/deal/oulidianya_3234257?utm_content=p2_detail" target="_blank">欧莉典雅 雅葵常青修护抗皱5件套</a></h6>
          </li>
          <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_topall" data-stat-dealid="3136255" data-zid="ze150128145641000001" data-stat-sourcetype="zhe" data-stat-x="3" data-stat-y="1" data-stat-n="3" data-ssid="SS14578407756031311"><a href="http://out.zhe800.com/ju/deal/dishinizho_3136255?utm_content=p2_detail" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.a24e8dde105596456f2148636a38f047.180x180.jpg.webp"></a>
            <p><em>已售92件</em><span><i>￥</i>65</span></p>
            <h6><a href="http://out.zhe800.com/ju/deal/dishinizho_3136255?utm_content=p2_detail" target="_blank">【优品汇】迪士尼学生休闲双肩包</a></h6>
          </li>
          <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_topall" data-stat-dealid="2867383" data-zid="ze160114181042081557" data-stat-sourcetype="zhe" data-stat-x="10" data-stat-y="1" data-stat-n="10" data-ssid="SS14578407756062655"><a href="http://out.zhe800.com/ju/deal/Globa_2867383?utm_content=p2_detail" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.947a0b0e7f45510544930538f220d694.180x180.jpg.webp"></a>
            <p><em>新品上架</em><span><i>￥</i>35</span></p>
            <h6><a href="http://out.zhe800.com/ju/deal/Globa_2867383?utm_content=p2_detail" target="_blank">简约锁扣链条小方包</a></h6>
          </li>
        </ul>
      </div>

      <div class="keywordpanel clear">
        <hgroup><span>随便看看</span></hgroup>
        <ul>
          <li><a href="#/word/baonuanneiyimia408" target="_blank" title="保暖内衣 棉">保暖内衣 棉</a></li>
          <li><a href="#/word/xidaixie" target="_blank" title="系带鞋">系带鞋</a></li>
          <li><a href="#/word/changkuanfengyi332" target="_blank" title="长款风衣外套">长款风衣外套</a></li>
          <li><a href="#/word/lianmaowaitaonv563" target="_blank" title="连帽外套女">连帽外套女</a></li>
          <li><a href="#/word/shuangjianbaonv617" target="_blank" title="双肩包女 皮">双肩包女 皮</a></li>
          <li><a href="#/word/xiekubaoxiao758" target="_blank" title="斜挎包小">斜挎包小</a></li>
        </ul>
      </div>

      <div class="asidebox1" style="top: 40px;">
        <div class="nubE bm clear"> <span class="daiyanren1"></span>
          <hgroup>折800承诺</hgroup>
          <ul>
            <li class="jy"><a rel="nofollow" target="_blank" href="#/n/help/zhe800_description"><i></i> 人工验货</a></li>
            <li class="as"><a target="_blank" href="http://help.zhe800.com/detail/258" rel="nofollow"><i></i> 按时发货</a></li>
            <li class="bt"><a rel="nofollow" target="_blank" href="http://help.zhe800.com/detail/104"><i></i> 8天无理由退货</a></li>
            <li class="xx"><a rel="nofollow" target="_blank" href="http://help.zhe800.com/detail/81"><i></i> 先行赔付</a></li>
          </ul>
        </div>
        <div class="nubD"><a href="#/app" target="_blank"><img src="http://{$Think.config.PUBLIC}/mall/images/p4_65389.gif"></a></div>
      </div>

    </aside>

    <div id="gonav" class="title">
      <hgroup class="">
        <p class="l">
          <span class="info_all js_click_v0 cur">
            <a href="#gonav">宝贝详情</a>
          </span> 
          <span class="pl js_click_v0" has_load="true" data-totalnum="57" data-goodcommentrate="100.0" data-middlecommentrate="0.0" data-negativecommentrate="0.0" data-countwithcontent="35" data-countwithappend="2" data-countwithpic="3" data-productscore="4.91" data-servicescore="4.89" data-deliverscore="4.88">
            <a href="#gonav">90天评价 <b>(57)</b></a> <i></i>
          </span>
          <span class="xl js_click_v0">
            <a href="#gonav">90天销量 <b>(200)</b></a>
          </span> 
          <span class="buyhou js_click_v0">
            <a href="#gonav">售后保障</a>
          </span>
        </p>
        <p class="r"> <b class="js_float_price">￥<i>{$info.counter}.00</i></b> <span class="s2"><a href="#" ptype="cart">加入购物车</a></span> </p>
      </hgroup>
    </div>
    <div class="productdetail" >
      <!--详细页-->
      <div class="js_infotab clear js_infoshow" style="display: block;">
        <div class="bidu clear" id="mao_examine"> <sub></sub>
          <ul class="l">
            <li><em>●</em>透气性好，免烫工艺，修身版型</li>
            <li><em>●</em>建议手洗，不宜机洗</li>
          </ul>
          <sup></sup> </div>
        <h2 class="product_tit product_ps" id="mao_spcs"></h2>
        <ul class="list12 clear">
          <li title="上市时间：2016年春季"><b>上市时间</b>：2016年春季</li>
          <li title="穿搭方式：外穿"><b>穿搭方式</b>：外穿</li>
          <li title="袖长：长袖"><b>袖长</b>：长袖</li>
          <li title="领型：翻领、立领"><b>领型</b>：翻领、立领</li>
          <li title="颜色：蓝色、卡其色"><b>颜色</b>：蓝色、卡其色</li>
          <li title="工艺处理：免烫处理"><b>工艺处理</b>：免烫处理</li>
          <li title="品牌：花花公子"><b>品牌</b>：花花公子</li>
          <li title="适用季节：春季、秋季"><b>适用季节</b>：春季、秋季</li>
          <li title="袖型：收口袖"><b>袖型</b>：收口袖</li>
          <li title="适用场景：休闲"><b>适用场景</b>：休闲</li>
          <li title="适用对象：中老年"><b>适用对象</b>：中老年</li>
          <li title="基础风格：时尚都市"><b>基础风格</b>：时尚都市</li>
          <li title="细分风格：商务休闲"><b>细分风格</b>：商务休闲</li>
        </ul>
        <h2 class="product_tit product_fhwl" id="mao_fhwl"></h2>
        <ul class="list12 clear">
          <li class="wuliu"><b>发货：</b>支付成功后，24小时内发货</li>
          <li class="wuliu"><b>物流：</b>本店默认包邮发申通快递（新疆、西藏、海南、青海、宁夏除外）</li>
        </ul>
        <div class="youpinhuiblock hidden" style="display: block;">
          <div class="youpinhuiblockhd"><a class="js_utm_params" href="#/n/youpinhui" utm_content="detailpage_banner"><img src="http://{$Think.config.PUBLIC}/mall/images/youpinhui.gif"></a></div>
          <ul class="clear">
            <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="youpin" data-stat-dealid="2439713" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14578407743386948" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/zhuomuniao_2439713?utm_content=recommend_of_good_products&ju_shop_version=YPH001"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.b080af208905594c3e66019210ac323a.180x180.jpg.webp"></a>
              <h6><a target="_blank" href="http://out.zhe800.com/ju/deal/zhuomuniao_2439713?utm_content=recommend_of_good_products&ju_shop_version=YPH001" title="【优品汇】中老年男士商务休闲西裤爸爸裤">【优品汇】中老年男士商务休闲西裤爸爸裤</a></h6>
              <p><i>￥</i>58<span class="sold"><span>已售<em>2272</em>件</span></span></p>
            </li>
            <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="youpin" data-stat-dealid="3169543" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="2" data-stat-n="2" data-ssid="SS14578407743438468" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/dongzhuang_3169543?utm_content=recommend_of_good_products&ju_shop_version=YPH001"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.8dcf11766bccd40650bd45eab4b0981e.180x180.jpg.webp"></a>
              <h6><a target="_blank" href="http://out.zhe800.com/ju/deal/dongzhuang_3169543?utm_content=recommend_of_good_products&ju_shop_version=YPH001" title="【优品汇】薄款休闲男士羽绒马甲">【优品汇】薄款休闲男士羽绒马甲</a></h6>
              <p><i>￥</i>79<span class="sold"><span>已售<em>1014</em>件</span></span></p>
            </li>
            <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="youpin" data-stat-dealid="2885079" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="3" data-stat-n="3" data-ssid="SS14578407743446775" class=""><a target="_blank" href="http://out.zhe800.com/ju/deal/vgf20_2885079?utm_content=recommend_of_good_products&ju_shop_version=YPH001"><img src="http://{$Think.config.PUBLIC}/mall/images/700x700.46e5e34d3f436bf226f4f257b05a4d6b.180x180.jpg.webp"></a>
              <h6><a target="_blank" href="http://out.zhe800.com/ju/deal/vgf20_2885079?utm_content=recommend_of_good_products&ju_shop_version=YPH001" title="【优品汇】男士加绒加厚羊毛呢大衣">【优品汇】男士加绒加厚羊毛呢大衣</a></h6>
              <p><i>￥</i>139<span class="sold"><span>已售<em>1418</em>件</span></span></p>
            </li>
            <li data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="youpin" data-stat-dealid="1747931" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="4" data-stat-n="4" data-ssid="SS14578407743454823"><a target="_blank" href="http://out.zhe800.com/ju/deal/biaokeqiuj_1747931?utm_content=recommend_of_good_products&ju_shop_version=YPH001"><img src="http://{$Think.config.PUBLIC}/mall/images/640x640.445d6bd289fddd75c1222f8ac9290fca.180x180.jpg.webp"></a>
              <h6><a target="_blank" href="http://out.zhe800.com/ju/deal/biaokeqiuj_1747931?utm_content=recommend_of_good_products&ju_shop_version=YPH001" title="【优品汇】男士秋冬直筒休闲长裤">【优品汇】男士秋冬直筒休闲长裤</a></h6>
              <p><i>￥</i>39.9<span class="sold"><span>已售<em>1240</em>件</span></span></p>
            </li>
          </ul>
        </div>
        <div class="blank18"></div>
        <h2 class="product_tit product_show" id="mao_show"></h2>
        <div class="info clear js_detail_div">
          <p style="text-align: center;"><span style="color: #0000ff;"><strong><span style="font-size: 36pt;">本店从北京发货，两会期间快递不保证时效，急件慎拍！</span></strong></span></p>
          <p><img src="http://{$Think.config.PUBLIC}/mall/images/750x781.5e5001375a4be70f4fc366ebd083c92c.980x.jpg" alt="" style="width: auto; height: auto;"><img src="http://{$Think.config.PUBLIC}/mall/images/980x556.ab86e17ff3278910b2c3495596f4e132.980x.jpg" alt="" style="width: auto; height: auto;"><img data-original="http://z4.tuanimg.com/imagev2/trade/750x521.2dad17ada679d4008fbb869be6ab5054.980x.jpg" src="http://{$Think.config.PUBLIC}/mall/images/750x521.2dad17ada679d4008fbb869be6ab5054.980x.jpg" alt="" style="width: auto; height: auto; display: inline;"></p>
        </div>
        <div class="shouhoubaoz red_tit" id="mao_shbz"> <span>售后保障</span> </div>
        <div class="shouhoubao">
          <ul>
            <li class=" sige "> <span class="et"></span>
              <p>8天无理由退货</p>
              <b class="bb"></b> </li>
            <li class="sige"> <span class="buk"></span>
              <p>免费赠送<br>
                退货补贴券</p>
              <b class="bb"></b> </li>
            <li class="  sige  "> <span class="th"></span>
              <p class="tuihuop">商家原因退货，<br>
                运费由商家承担</p>
              <b class="bb"></b> </li>
            <li class=" sige "> <span class="twoh"></span>
              <p>承诺24小时发货</p>
              <b></b> </li>
          </ul>
        </div>
        <div class="js_appraise_bottom red_tit" id="mao_appraise"> <span> 90天评价 <em></em> </span> </div>
      </div>
      <!--详细页 end-->
      <div class="appraise js_infotab clear js_infoshow" id="appraise_posi" style="display: block;">
        <div class="newbox clear">
          <div class="s1"><span class="l good"><i class="big">100</i><i>%</i><br>
            <em>好评率</em></span></div>
          <div class="s2"><span class="text">大家认为</span>
            <div><em>描述相符</em>
              <p class="starBox"><i class="active9"></i></p>
              <em>4.9分</em></div>
            <div><em>服务态度</em>
              <p class="starBox"><i class="active9"></i></p>
              <em>4.9分</em></div>
            <div><em>发货速度</em>
              <p class="starBox"><i class="active9"></i></p>
              <em>4.9分</em></div>
          </div>
          <div class="s3">
            <p>您可对已购商品进行评价</p>
            <p><a class="btn_p js_utm_params" target="_blank" href="#" utm_content="p_detail_pinglun">发评论拿积分</a></p>
            <p><span class="red"><a target="_blank" href="http://shop.zhe800.com/well_comments_act">优质评论送礼品，点击查看&gt;&gt;</a></span></p>
          </div>
        </div>
        <div class="tit"> <span class="r">
          <input class="cfcommentshow js_click_v0" clickkey="p_detail_have_content_comment" id="comment_cent" checked="checked" type="checkbox" data-flag="4">
          有内容的评价</span> <span class="l"><span class="js_cf_span cf_span js_click_v0" clickkey="p_detail_all_comment">
          <input class="cfcommentshow" name="commentslist" checked="checked" value="1" type="radio" data-flag="1">
          全部</span></span> <span class="l picselbox"><span class="js_cf_span cf_span js_click_v0" clickkey="p_detail_comment_picture">
          <input class="cfcommentshow" name="commentslist" value="2" type="radio" data-flag="2">
          图片<em>(3)</em></span></span> <span class="l zpselbox"><span class="js_cf_span cf_span js_click_v0" clickkey="p_detail_add_comment">
          <input class="cfcommentshow" name="commentslist" value="3" type="radio" data-flag="3">
          追评<em>(2)</em></span></span></div>
        <div class="pbox clear">
          <div class="s1">136******71 <br>
            <span class="level level2"><a class="js_wddj wddj" target="_blank" href="#/profile/my_rank"><i></i></a></span> </div>
          <div class="s2">
            <p>很不错，超出我的想象，大小刚好，颜色不错。</p>
            <p class="gray9">2016-03-12 20:25:06</p>
          </div>
          <div class="s3">
            <p class="gray6">颜色:33款蓝色<br>
              尺码:175/L<br>
            </p>
          </div>
          <div class="s4">
            <p class="starBox"><i class="active5"></i></p>
          </div>
        </div>
        <div class="pbox clear">
          <div class="s1">x***a <br>
            <span class="level level2"><a class="js_wddj wddj" target="_blank" href="#/profile/my_rank"><i></i></a></span> </div>
          <div class="s2">
            <p>衣服不错，老公穿上合适．</p>
            <p class="gray9">2016-03-11 10:34:32</p>
          </div>
          <div class="s3">
            <p class="gray6">颜色:33款蓝色<br>
              尺码:180/XL<br>
            </p>
          </div>
          <div class="s4">
            <p class="starBox"><i class="active5"></i></p>
          </div>
        </div>
        <div class="pbox clear">
          <div class="s1">138******72 <br>
            <span class="level level4"><a class="js_wddj wddj" target="_blank" href="#/profile/my_rank"><i></i></a></span> </div>
          <div class="s2">
            <p>买得小了点不影响穿</p>
            <p class="gray9">2016-03-10 21:26:22</p>
          </div>
          <div class="s3">
            <p class="gray6">颜色:33款蓝色<br>
              尺码:170/M<br>
            </p>
          </div>
          <div class="s4">
            <p class="starBox"><i class="active4"></i></p>
          </div>
        </div>
        <div class="list_page"><span class="selected">上页</span> <span>1</span> <a href="javascript:void(0)" info="2">2</a> <a href="javascript:void(0)" info="3">3</a> <a href="javascript:void(0)" info="4">4</a> <a class="np_page" href="javascript:void(0)" info="2">下页</a> </div>
      </div>
      <!--历史评价 -->
      <div class="record js_infotab clear" style="display: none;">
        <div class="hd">
          <p class="s1">买家</p>
          <p class="s2">款式/型号</p>
          <p class="s3">购买数量</p>
          <p class="s4">付款时间</p>
        </div>
        <div class="item">
          <div class="s1">138***55<span class="level level3"><a class="js_wddj wddj" target="_blank" href="#/profile/my_rank"><i></i></a></span></div>
          <div class="s2">颜色:33款蓝色<br>
            尺码:180/XL<br>
          </div>
          <div class="s3">1</div>
          <div class="s4">2016-03-13 10:12:15</div>
        </div>
        <div class="item">
          <div class="s1">155***28<span class="level level5"><a class="js_wddj wddj" target="_blank" href="#/profile/my_rank"><i></i></a></span></div>
          <div class="s2">颜色:68款蓝色<br>
            尺码:180/XL<br>
          </div>
          <div class="s3">1</div>
          <div class="s4">2016-03-13 10:06:51</div>
        </div>
        <div class="list_page"><span class="selected">上页</span> <span>1</span> <a href="javascript:void(0)" info="2">2</a> <a href="javascript:void(0)" info="3">3</a> <a href="javascript:void(0)" info="4">4</a> <span class="dd">...</span> <a class="np_page" href="javascript:void(0)" info="2">下页</a> </div>
        <p style="text-align: right;padding: 10px 10px 0 0;clear: both;">亲，由于销量较多，我们只显示最新的前10页</p>
      </div>
      <!-- 历史评价 end -->
       <!-- 售后保障 -->
      <div class="xuzhi clear js_infotab"  style="display: none;">
        <ul>
          <li> <span class="picc"><i></i></span>
            <label>中国人保承保</label>
            <p>该商品由折800与中国人保（PICC）联合承保，请放心购买</p>
          </li>
          <li> <span class="et"><i></i></span>
            <label>8天无理由退货</label>
            <p>商品签收8天内，在保证商品完好的前提下，可无理由退货，<a target="_blank" href="#">查看详情&gt;&gt;</a></p>
          </li>
          <li> <span class="buk"><i></i></span>
            <label>免费赠送退货补贴券</label>
            <p>特卖商城下单，<b>账号绑定手机后可获赠退货补贴券资格。</b>若订单中的商品申请8天无理由退货成功，<b>您可以获得一张特卖商城优惠券作为退货运费补贴。</b><a target="_blank" href="http://help.zhe800.com/detail/465">查看详情&gt;&gt;</a></p>
          </li>
          <li> <span class="th"><i></i></span>
            <label>商家原因退货，退货运费由商家承担</label>
            <p>该卖家已缴纳保证金。</p>
            <p>在确认收货15天内，如有商品质量问题、描述不符或未收到货等，您有权申请退款或退货，<b>退货运费由卖家承担。</b></p>
          </li>
          <li> <span class="twoh"><i></i></span>
            <label>商家承诺24小时发货，未按时发货的订单可获得补偿</label>
            <p>若此商品卖家未在24小时内发货，或支付成功后48小时物流官网没有更新任何物流信息记录，您可以投诉卖家。经折800核实买家投诉成立的，折800将扣除商家保证金并<b>以商城优惠券的形式补偿给您。</b><a target="_blank" href="http://help.zhe800.com/detail/258">如何投诉&gt;&gt;</a></p>
          </li>
        </ul>
      </div>
       <!-- 售后保障 end-->
      <div class="recommendtitle red_tit"> <span>看了此商品的人还看了</span> </div>
      <div class="recommend clear">
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze160219141007143256" data-stat-dealid="3161309" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="1" data-stat-n="1" data-ssid="SS14578408206179091">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/zhonglaoni_3161309?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.7d0e67bad09c2bc11f9672d6dc4470ec.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/zhonglaoni_3161309?utm_content=p_detail&ju_shop_version=SD0002" title="中老年女装女裤">中老年女装女裤</a></h3>
            <h4><em><b>￥</b>45</em><span><i>￥138</i></span></h4>
          </div>
        </div>
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze160309111537245327" data-stat-dealid="3346877" data-stat-sourcetype="zhe" data-stat-x="1" data-stat-y="2" data-stat-n="2" data-ssid="SS14578408206273111">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/chunqiujin_3346877?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.2a613520bcc116f8327f17020ecc4bac.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><b>【包邮】</b><a target="_blank" href="http://out.zhe800.com/ju/deal/chunqiujin_3346877?utm_content=p_detail&ju_shop_version=SD0002" title="春季金丝绒运动两件套装">春季金丝绒运动两件套装</a></h3>
            <h4><em><b>￥</b>69</em><span><i>￥488</i></span></h4>
          </div>
        </div>
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze150731154813000015" data-stat-dealid="3271823" data-stat-sourcetype="zhe" data-stat-x="3" data-stat-y="2" data-stat-n="8" data-ssid="SS14578408206301008">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3271823?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.16df843ef95e75b6d8e1ac24c60118c5.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3271823?utm_content=p_detail&ju_shop_version=SD0002" title="休闲V领男士条纹长袖T恤">休闲V领男士条纹长袖T恤</a></h3>
            <h4><em><b>￥</b>39</em><span><i>￥298</i></span></h4>
          </div>
        </div>
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze150518115507000784" data-stat-dealid="3145339" data-stat-sourcetype="zhe" data-stat-x="4" data-stat-y="1" data-stat-n="10" data-ssid="SS14578408206309502">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3145339?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.ca31401944aaa5e33b03e890c5436c6a.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3145339?utm_content=p_detail&ju_shop_version=SD0002" title="贝利诗登2016夏季新品 男士翻领印花商务休闲短袖t恤衫">贝利诗登2016夏季新品 男士翻领印花商务休闲短袖t恤衫</a></h3>
            <h4><em><b>￥</b>29</em><span><i>￥198</i></span></h4>
          </div>
        </div>
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze150916165716000910" data-stat-dealid="3147411" data-stat-sourcetype="zhe" data-stat-x="5" data-stat-y="2" data-stat-n="14" data-ssid="SS1457840820634823">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3147411?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.43a9dbb75e3888dd41aecc90ceea8f2c.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/beilishide_3147411?utm_content=p_detail&ju_shop_version=SD0002" title="贝利诗登春秋季新款休闲男装中年男士立领格子长袖T恤衫">贝利诗登春秋季新款休闲男装中年男士立领格子长袖T恤衫</a></h3>
            <h4><em><b>￥</b>39</em><span><i>￥498</i></span></h4>
          </div>
        </div>
        <div class="deal dealstyle4" data-behavior="show-stat" data-stat-pos-type="recom" data-stat-pos-value="detail_bottom" data-zid="ze150923164639000085" data-stat-dealid="3260587" data-stat-sourcetype="zhe" data-stat-x="6" data-stat-y="1" data-stat-n="16" data-ssid="SS14578408206359519">
          <div class="con"> <a target="_blank" href="http://out.zhe800.com/ju/deal/chunjizhon_3260587?utm_content=p_detail&ju_shop_version=SD0002"><img width="220" height="220" src="http://{$Think.config.PUBLIC}/mall/images/700x700.7dbbdefe6fc7a708136e63a2360051a2.220x220.jpg.webp"></a>
            <div class="sold"><span>新品上架</span></div>
            <h3><a target="_blank" href="http://out.zhe800.com/ju/deal/chunjizhon_3260587?utm_content=p_detail&ju_shop_version=SD0002" title="春季中年款长袖衬衫">春季中年款长袖衬衫</a></h3>
            <h4><em><b>￥</b>65</em><span><i>￥799</i></span></h4>
          </div>
        </div>
      </div>
      <div class="interestbrandtitle red_tit"> <span>您可能感兴趣的品牌</span> </div>
      <div class="interestbrand clear">
        <ul>
          <li> <a href="http://brand.zhe800.com/hongdounanzhuang" target="_blank" title="红豆男装">红豆男装特卖</a> <em>5.0折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/jipudunnanzhuang" target="_blank" title="吉普盾男装">吉普盾男装特卖</a> <em>0.7折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/baolulianhenanzhuang" target="_blank" title="宝路联合男装">宝路联合男装特卖</a> <em>4.8折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/AMH" target="_blank" title="韩都衣舍男装">韩都衣舍男装特卖</a> <em>3.4折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/yuzhaolinnanzhuang" target="_blank" title="俞兆林男装">俞兆林男装特卖</a> <em>0.5折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/heerxi" target="_blank" title="赫尔希">赫尔希特卖</a> <em>0.5折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/NBNL" target="_blank" title="NBNL">NBNL特卖</a> <em>0.2折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/huahuagongzinz" target="_blank" title="花花公子男装">花花公子男装特卖</a> <em>0.5折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/nanguifang" target="_blank" title="男桂坊">男桂坊特卖</a> <em>0.9折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/banlaishi" target="_blank" title="班莱士">班莱士特卖</a> <em>0.4折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/nanjirennanzhuang" target="_blank" title="南极人男装">南极人男装特卖</a> <em>0.9折</em> 起&gt; </li>
          <li> <a href="http://brand.zhe800.com/wenshite" target="_blank" title="文时特">文时特特卖</a> <em>1.3折</em> 起&gt; </li>
        </ul>
      </div>
    </div>
    <ul class="m_nav js_navi_ul">
      <li class="blank"></li>
      <li data-id="mao_examine" class="js_navi_li" style="display: list-item;"><a href="#mao_examine" class="js_click_v0 cur" clickkey="p_detail_yanhuo"><em>●</em>折800验货</a></li>
      <li data-id="mao_spcs" class="js_navi_li" style="display: list-item;"><a href="#mao_spcs" class="js_click_v0" clickkey="p_detail_product_detail"><em>●</em>商品参数</a></li>
      <li data-id="mao_fhwl" class="js_navi_li" style="display: list-item;"><a href="#mao_fhwl" class="js_click_v0" clickkey="p_detail_delivery_logistics"><em>●</em>发货物流</a></li>
      <li data-id="mao_show" class="js_navi_li" style="display: list-item;"><a href="#mao_show" class="js_click_v0" clickkey="p_detail_product_images"><em>●</em>商品展示</a></li>
      <li data-id="mao_shbz" class="js_navi_li" style="display: list-item;"><a href="#mao_shbz" class="js_click_v0" clickkey="p_detail_shouhoubaozhang"><em>●</em>售后保障</a></li>
      <li data-id="mao_appraise" class="js_navi_li" style="display: list-item;"><a href="#mao_appraise" class="js_click_v0" clickkey="p_detail_pinlun"><em>●</em>90天评价</a></li>
    </ul>
  </article>
</form>
<!-- 购物车弹窗-->
<div id="addGoods" style="padding:20px; display:none;">
  <div >
     <button class="bt1">去购物车结算</button>
     <button class="bt2 layui-layer-close">继续购物</button>
      <div class="fgx"><!-- 分割线 --></div>

  </div>

</div>
<!-- 购物车弹窗 end-->
<!-- footer -->
{include file="public/footer" /}
<!-- footer end -->

	<script src="http://{$Think.config.PUBLIC}/mall/js/jquery-2.1.1.js"></script>
 <!-- layui scripts -->
<script src="http://{$Think.config.PUBLIC}/lib/layui/layui.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	layui.use('layer', function(){
  $('#test2').on('click', function(){
    if(!$(".js_reskubox .color ul li").hasClass("cur"))
    {
    	layer.msg("颜色没有选择",{icon:2});
        return;
    }
    if(!$(".js_reskubox .size ul li").hasClass("cur"))
    {
    	layer.msg("尺码没有选择",{icon:2});
    	return;
    }
    var goods_id = $(".js_reskubox .color ul li.cur").attr("gid");
    var sku_id = $(".js_reskubox .size ul li.cur").attr("vid");
    
    $.ajax({
          url: "{:url('Cart/add')}",
          dataType: "json",
          async: true, //设置异步请求
          data: { "goods_id":goods_id,
                  "sku_id":sku_id
          },
          type: "POST",
          beforeSend: function() {
                //请求前的处理 
           },
          success: function(data) {
                //请求成功时处理
               if(data['status'] == true){
                   layer.open({
                        title:'添加成功',
                        type: 1,
                        area: ['500px', '400px'],
                        shadeClose: false, //点击遮罩关闭
                        content: $("#addGoods"),
                        icon: 1,
                        offset: '280px',
                        });
               }else{
                   layer.msg('购物车添加失败', {
                      icon: 5,
                      time: 10000, //10秒关闭（如果不配置，默认是3秒）
                      shade: [0.3, '#393D49'],
                      shadeClose:false, //点击遮罩关闭
                      closeBtn: 1,
                      scrollbar: false
                      })
               }
          },
         complete: function(data) {
          //请求完成的处理
         },
         
         error: function() {
            //请求出错处理
             alert("Server exception!");
        }
       
      });
  });
  //设置首张主图显示
  $(".deteilpic ul li:first").attr("class","cur");
  //主图切换事件
 $(".deteilpic ul li").mouseover(function(){
    $(".deteilpic ul li").attr("class","");
    $(this).attr("class","cur");
    //var src = $("img",this).attr("src");
    var src = $("img",this).data("bigimage");
    $("figure img").attr("src",src);
});

  //点击累计评论
 $(".pl").click(function(){
    $(".js_infotab,.js_navi_li").hide();
    $(".appraise").show();
 });
 //点击宝贝详情
 $(".info_all").click(function(){
  $(".js_infotab").hide();
    $(".js_infoshow,.js_navi_li").show();
 });
//点击销量
$(".xl").click(function(){
  $(".js_infotab,.js_navi_li").hide();
  $(".record").show();
});
//点击售后保障
$(".buyhou").click(function(){
  $(".js_infotab,.js_navi_li").hide();
  $(".xuzhi").show();
});
 //
 $(".js_click_v0").click(function(){
  $(".js_click_v0 ").removeClass("cur");
  $(this).addClass("cur");
 });
 //显示选择颜色状态
 $(".js_reskubox .color ul li").click(function(){
    var pid = $(this).attr("pid");
    if( $(this).attr("class")=="cur" ){
      //取消选择状态
      $(this).attr("class","");
    }else{
      //设置选中状态
      $(".js_reskubox .color ul li").attr("class","");
      $(this).attr("class","cur");
      var src =  $("a",this).data("vpicture");
      //alert(src);
      $("figure img").attr("src",src);
      //加载sku
      $.ajax({
          url: "{:url('skuList')}",    //请求的url地址
          dataType: "json",   //返回格式为json
          async: true, //请求是否异步，默认为异步，这也是ajax重要特性
          data: { "spec_id":pid },
          type: "POST",   //请求方式
          beforeSend: function() {
                //请求前的处理
           },
          success: function(data) {
                //请求成功时处理

                 $(".size dd ul").html(data['content']);
          },
         complete: function(data) {
          //请求完成的处理
         },
         
         error: function() {
            //请求出错处理
             alert("Server exception!");
        }
       
      });
    }
 });
 //显示选择尺码状态
 $(".js_reskubox .size ul").on("click","li",function(){
   if( $(this).attr("class")=="cur" ){
     $(this).attr("class","");
   }else{
    $(".js_reskubox .size ul li").attr("class","");
    $(this).attr("class","cur");
    var color = $(".js_reskubox .color ul .cur").attr("class");
    if(color == "cur"){
      //查询对应sku库存
      var sku_id = $(this).attr("vid");
      var pid = $(".js_reskubox .color ul .cur").attr("pid");
      //ajax查询sku库存
      $.ajax({
          url: "{:url('skuStock')}",    //请求的url地址
          dataType: "json",   //返回格式为json
          async: true, //请求是否异步，默认为异步，这也是ajax重要特性
          data: { "sku_id":sku_id,
                  "spec_id":pid
          },
          type: "POST",   //请求方式
          beforeSend: function() {
                //请求前的处理
           },
          success: function(data) {
                //请求成功时处理
                 $(".js_kucun_i").text(data['content']);
          },
         complete: function(data) {
          //请求完成的处理
         },
         
         error: function() {
            //请求出错处理
             alert("Server exception!");
        }
       
      });
    }else{
      //不做任何操作
    }
    
   }
 });
	});
});
</script>