<div class="about">
	<ul class="area">
		<li class="lw w1"><span>关于我们</span> <a href="#/contact"
			target="_blank">关于我们</a> <a href="http://hr.tuan800.com/brand"
			target="_blank" rel="nofollow">诚聘英才</a> <a href="#/service_terms"
			target="_blank" rel="nofollow">服务条款</a></li>
		<li class="lw"><span>帮助中心</span> <a target="_blank"
			href="http://help.zhe800.com/detail/234">联系我们</a> <a target="_blank"
			href="http://help.zhe800.com/detail/82">服务协议</a> <a target="_blank"
			href="#/n/jubao">廉正举报</a></li>
		<li class="lw"><span>商务合作</span> <a
			href="https://zhaoshang.zhe800.com/" target="_blank">商家报名</a> <a
			href="#/friendly_links" target="_blank">友情链接</a></li>
		<li class="lw w2"><span>关注我们</span> <a
			href="http://e.weibo.com/tao800ju" target="_blank" rel="nofollow">新浪微博</a>
			<a href="#/download_tao800?fn=%E6%8A%98800.url" title="下载桌面快捷方式"
			target="_blank" rel="nofollow">下载桌面快捷方式</a> <a title="意见反馈"
			class="feedback_popup_handler" href="javascript:void()"
			rel="nofollow">意见反馈</a> <a target="_blank" class="contractKf"
			href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA2MTAyNV8xMzQ3NDhfODAwMDYxMDI1XzJf"
			title="在线客服"> 在线客服 </a>
			<p class="kf">
				<i></i>400-0611-800
			</p></li>
		<li class="w3"><span>下次怎么来?</span>
			<h3>
				记住域名：<a href="#/"><em>zhe800.com</em></a>
			</h3>
			<h4>
				百度搜索： <input type="text" value="折800" onfocus="this.blur()"
					class="bdtxt"> <a href="#" target="_blank" class="smt"
					rel="nofollow"></a>
			</h4>
			<h5>
				收藏本站：<a id="clt" href="javascript:$.addfavorite()"><u>加入收藏</u></a>
			</h5>
			<h6>
				订阅本站： <br> <input type="text" class="txt" placeholder="输入您的邮件"
					id="subscribe_email"> <input type="button"
					onclick="$.tao_dingyue()" class="smt dysmt" value="订阅">
			</h6></li>
		<li class="w4"><span>下载手机版</span>
			<div class="bottom_qrcode_wrapper">
				<img height="100" width="100" alt=""
					src="http://{$Think.config.PUBLIC}/mall/images/65389_qrcode.png">
				<h5>扫描下载折800</h5>
				<p>
					把折扣握在手心<br> 把潮流带在身边
				</p>
			</div></li>
	</ul>
</div>
<!-- 底部 list end-->
<footer>
	<a target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP证120075号</a>
	京ICP备10051110号-5 <a
		href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502025623"
		target="_blank" rel="nofollow">京公网安备11010502025623</a>
	食品流通许可证SP1101051510352397 Copyright?2011-2015 版权所有 ZHE800.COM <br>
	团博百众（北京）科技有限公司 北京朝阳区裕民路12号A座 010-82252066 <br> <a target="_blank"
		href="#" rel="nofollow"> <img height="26" width="70"
		src="http://{$Think.config.PUBLIC}/mall/images/web_trust.png"></a> <a
		target="_blank" href="#" id="___szfw_logo___" rel="nofollow"> <img
		height="26" width="70" style="border: 0"
		src="http://{$Think.config.PUBLIC}/mall/images/cert.jpg"></a> <a
		target="_blank" href="#" rel="nofollow"> <img width="76"
		height="28" style="border: 0"
		src="http://{$Think.config.PUBLIC}/mall/images/credit.png"></a>
</footer>
</body>
</html>