<header>
	<div class="area">
		<div class="l">
			<a href="#/"><img width="243" height="47"
				src="http://{$Think.config.PUBLIC}/mall/images/logo2015.png"></a>
			<br>精选每日优质淘品
		</div>
		<div class="links">
			<a target="_blank" rel="nofollow" href="javasrcitp:;"><img
				width="86" height="63"
				src="http://{$Think.config.PUBLIC}/mall/images/toolbar_links5_s.jpg"></a>
		</div>
		<div class="search">
			<form action="javasrcitp:;" target="_self">
				<input type="text" class="txt" name="keyword" autocomplete="off"
					data-keyword="雨伞"> <input type="submit" class="smt"
					value="搜索">
			</form>
			<span class="showkw">雨伞</span>
		</div>
	</div>
</header>
<nav id="head_nav">
	<div class="head_nav area">
		<div class="l">
			<a href="#">首页<i></i></a> <a href="#">品牌团<i></i></a> <a
				href="javasrcipt:;">优品汇<i class="shop_hot"></i></a> <a
				href="javasrcipt:;">8块8包邮</a> <a href="javasrcipt:;">20元封顶<i></i></a>
			<a href="javasrcipt:;" class="on">特卖商城<i></i></a> <a
				href="#/jifen">积分商城</a> <span class="n"></span>
		</div>
		<div class="r_con">
			<div class="yg_wrap">
				<a href="javasrcipt:;" class="yg">精选预告<i></i></a>
			</div>
			<div id="signinid" data-holiday="3" class="dropdown sign_panel"
				info="1-2-3"
				return_to="#/login?return_to=http%3A%2F%2Fwww.zhe800.com%2F"
				qdscore="1-2">
				<a class="signin qdicon"
					href="javasrcipt:;"></a>
				<div class="dropdown-menu" style="display: none;">
					<div class="activity">
						<img
							src="http://{$Think.config.PUBLIC}/mall/images/500x360.d0d9bb4d540ad8d71dfc7a5b95b02772.500x360.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>