<div class="side-panel side_panel">
    <div class="side-tab side-tab-top side-tab-cart side-tab-top0">
        <div class="tab-icon cart-icon"></div>
        <a href="http://cart.zhe800.com/cart?utm_content=right_bar" target="_blank">
            <div class="tab-text">购物车</div>
            <div class="tab-sup">
                <div class="tab-sup-bg"><span data-cart-count-number="cart" class="tab-sup-bd">1</span></div>
            </div>
        </a></div>
    <div class="side-tab side-tab-top side-tab-order side-tab-top1">
        <div class="tab-icon order-icon"><a href="#" target="_blank"></a></div>
        <div class="tab-tip" style="display: none; opacity: 1; right: 34px;"><a href="#" target="_blank">我的订单</a>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-top side-tab-coupons side-tab-top2">
        <div class="tab-icon coupons-icon"><a href="#" target="_blank"></a></div>
        <div class="tab-tip" style="display: none; opacity: 1; right: 34px;"><a href="#" target="_blank">我的优惠券</a>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-top side-tab-store side-tab-top3">
        <div class="tab-icon store-icon"><a href="#" target="_blank"></a></div>
        <div class="tab-tip"><a href="#" target="_blank">我的收藏</a>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <a href="#" target="_blank" class="side-tab-imMessage-link">
        <div class="side-tab side-tab-top side-tab-imMessage side-tab-top4">
            <div class="tab-icon imMessage-icon"><em class="quan_num">0</em></div>
            <div class="tab-tip">卖家消息
                <div class="tab-icon arr-icon"></div>
            </div>
        </div>
    </a>
    <div class="side-tab side-tab-bottom side-tab-checkin side-tab-bottom4 uncheck">
        <div class="tab-icon checkin-icon"></div>
        <div class="tab-tip sign_panel" style="height: 32px; padding-top: 5px; padding-bottom: 5px; line-height: 16px;"><span
                class="signin">想领钱，先签到<br>
      积分抵现又换礼</span>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-bottom side-tab-qrcode side-tab-bottom3">
        <div class="tab-icon qrcode-icon"><a href="#" target="_blank"></a></div>
        <div class="tab-tip"><a href="#" target="_blank"></a><i class="close"></i>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-bottom side-tab-faq side-tab-bottom2">
        <div class="tab-icon faq-icon"><a href="#" target="_blank"></a></div>
        <div class="tab-tip"><a href="#" target="_blank">常见问题</a>
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-bottom side-tab-feedback feedback_popup_handler side-tab-bottom1">
        <div class="tab-icon feedback-icon"></div>
        <div class="tab-tip">意见反馈
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
    <div class="side-tab side-tab-bottom side-tab-totop side-tab-bottom0 thide" id="goTop">
        <div class="tab-icon totop-icon"></div>
        <div class="tab-tip">返回顶部
            <div class="tab-icon arr-icon"></div>
        </div>
    </div>
</div>