<div id="toolbar">
  <div class="toolbar area">
    <div class="right flow">
    <a href="#" class="contractKf" target="_blank">联系客服</a> | 
    <a target="_blank" href="#">卖家中心</a> </div>
    <div class="right" id="login" data-rendered="yes">
      <em id="tblogin">
        <a target="_blank" class="qq" href="#"><i></i>QQ登录</a> | 
        <a class="red" href="#">登录</a> <a class="red" href="#">免费注册</a> | <span></span><a target="_blank" href="#">我的订单</a>
        </em>
      <div class="hidden"></div>
      |&nbsp;
      <div data-behavior="minicart" class="dropdown minicart"><span class="cart"><a target="_blank" href="#"><i></i>购物车<b data-cart-count-number="cart" class="count">251</b></a></span> </div>
      &nbsp;|</div>
    <div class="right"> 
    <a target="_blank" href="#">团800旗下网站</a>
      <div class="phone-qrcode-down"> <span class="top_qrcode"> <a target="_blank" href="#"><i class="phone-qrcode-icon"></i>手机版</a> <em></em> </span>
        <div class="dropdown-menu"> <a target="_blank" href="#">wedfwedew</a> </div>
      </div>
    </div>
  </div>
</div>